<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accusoft.ImageGear.Core" version="24.11.11" targetFramework="net452" />
  <package id="Accusoft.ImageGear.PDF" version="24.11.11" targetFramework="net452" />
  <package id="Accusoft.ImageGear.Vector" version="24.11.11" targetFramework="net452" />
</packages>